services:
  log-sentry:
    build: .
    security_opt:
      - apparmor=unconfined
    cap_add:
      - SYS_PTRACE
    ports:
      - "9102:9102"
      - "5140:5140/udp"
      - "5140:5140/tcp"
    volumes:
      - ./logs/nginx:/var/log/nginx
      - ./logs/apache2:/var/log/apache2
      - ./logs/caddy:/var/log/caddy
      - ./logs/tomcat:/usr/local/tomcat/logs
      - ./logs/traefik:/var/log/traefik
      - ./logs/haproxy:/var/log/haproxy
      - ./logs/envoy:/var/log/envoy
      - ./logs/lighttpd:/var/log/lighttpd
      - ./logs/ssh:/var/log/ssh_logs
      - ./services.json:/app/services.json
      - ./rules.json:/app/rules.json
      - /proc:/host/proc:ro
      - /var/log/journal:/var/log/journal:ro
      - /run/log/journal:/run/log/journal:ro
      - /etc/machine-id:/etc/machine-id:ro
      - /etc/passwd:/host/etc/passwd:ro
    environment:
      - HOST_PROC=/host/proc
      - PORT=9102
      - LOKI_URL=http://loki:3100
      - THRESHOLD=95

## Dont run loki, prometheus, grafana for now

  # loki:
  #   image: grafana/loki:latest
  #   ports:
  #     - "3101:3100"
  #   command: -config.file=/etc/loki/local-config.yaml

  # prometheus:
  #   image: prom/prometheus:latest
  #   ports:
  #     - "9090:9090"
  #   volumes:
  #     - ./prometheus.yml:/etc/prometheus/prometheus.yml

  # grafana:
  #   image: grafana/grafana:latest
  #   ports:
  #     - "3100:3000"
  #   volumes:
  #     - ./grafana/provisioning:/etc/grafana/provisioning
  #   environment:
  #     - GF_SECURITY_ADMIN_PASSWORD=admin
