version: '3.8'

services:
  log-sentry:
    build: .
    ports:
      - "9102:9102"
      - "5140:5140/udp"
      - "5140:5140/tcp"
    volumes:
      # Mount host logs (uncomment if you want manual mounting)
      # - ./logs/nginx:/var/log/nginx
      # - ./logs/apache2:/var/log/apache2
      # - ./logs/ssh:/var/log/ssh_logs
      
      # Mount /proc as /host/proc (ro) REQUIRED for Auto-Discovery & Magic Access
      - /proc:/host/proc:ro
    environment:
      - ENABLE_DOCKER_LOGS=false # Disabled in favor of magic access
      - ENABLE_MAGIC_LOG_ACCESS=true
      - ENABLE_CROWDSEC=true
      - CROWDSEC_LAPI_URL=http://crowdsec:8083/
      - CROWDSEC_API_KEY=ySmivv3p6we5N/NomG9XQhHdQtDWvZgOCVcL9FJUCAM
      # Manual overrides if auto-discovery fails or needs forcing
      - NGINX_ACCESS_LOG_PATH=/var/log/nginx/access.log
      - SSH_AUTH_LOG_PATH=/var/log/auth.log
      - PORT=9102
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:9102/health"]
      interval: 30s
      timeout: 5s
      retries: 3
    depends_on:
      - crowdsec

  crowdsec:
    image: crowdsecurity/crowdsec
    restart: unless-stopped
    ports:
      - 8083:8083
    environment:
      COLLECTIONS: "crowdsecurity/nginx crowdsecurity/linux"
      GID: "${GID-1000}"
    volumes:
      - ./crowdsec/acquis.yaml:/etc/crowdsec/acquis.yaml
      - /var/log/nginx:/var/log/nginx
      - crowdsec-db:/var/lib/crowdsec/data/
      - crowdsec-config:/etc/crowdsec/
      # Mount host logs (example for SSH logs)
      - /var/log/auth.log:/var/log/auth.log:ro 
      # Mount the Docker socket for automatic container log acquisition (highly recommended)
      - /var/run/docker.sock:/var/run/docker.sock:ro

# crowdsec-1  | API credentials written to '/etc/crowdsec/local_api_credentials.yaml'.

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3100:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin



volumes:
  crowdsec-db:
  crowdsec-config: