services:
  log-sentry:
    build: .
    oom_score_adj: -1000
    stop_grace_period: 30s
    security_opt:
      - apparmor=unconfined
    cap_add:
      - SYS_PTRACE
    ports:
      - "9102:9102"
      - "5140:5140/udp"
      - "5140:5140/tcp"
    volumes:
      - ./logs:/var/log/services
      - ./logs/ssh:/var/log/ssh_logs
      - ./data:/app/data
      - ./services.json:/app/services.json
      - ./rules.json:/app/rules.json
      - /proc:/host/proc:ro
      - /var/log/journal:/var/log/journal:ro
      - /run/log/journal:/run/log/journal:ro
      - /etc/machine-id:/etc/machine-id:ro
      - /etc/passwd:/host/etc/passwd:ro
    environment:
      - HOST_PROC=/host/proc
      - PORT=9102
      - LOKI_URL=http://loki:3100
      - PROMETHEUS_URL=http://localhost:9090
      - GRAFANA_URL=http://localhost:3100
      - DB_PATH=data/logsentry.db
      - RETENTION_DAYS=30
      - THRESHOLD=95

## Uncomment to enable observability stack

  # loki:
  #   image: grafana/loki:latest
  #   ports:
  #     - "3101:3100"
  #   command: -config.file=/etc/loki/local-config.yaml

  # prometheus:
  #   image: prom/prometheus:latest
  #   ports:
  #     - "9090:9090"
  #   volumes:
  #     - ./prometheus.yml:/etc/prometheus/prometheus.yml

  # grafana:
  #   image: grafana/grafana:latest
  #   ports:
  #     - "3100:3000"
  #   volumes:
  #     - ./grafana/provisioning:/etc/grafana/provisioning
  #   environment:
  #     - GF_SECURITY_ADMIN_PASSWORD=admin
